/*
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
} */

:root {
  --btn-color: #6c63ff;
  --hover-btn-color: #f9f7fe;
  --p-basic-color: #272142;
  --title-color: black;
  --secondary-background-color: #f9f7fe;
}

nav {
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: var(--p-basic-color);
  transition: all 120ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--btn-color);
}

.logo {
  max-height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
}

.intro {
  background: var(--secondary-background-color);
  text-align: center;
  padding: 180px 20px;
}

.intro h1 {
  font-weight: 700;
  font-size: 72px;
  color: var(--title-color);
}

.intro h2 {
  font-weight: 400;
  font-size: 24px;
  color: var(--title-color);
}

.intro p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #272142;
}

.btn {
  color: #fff;
  background: var(--btn-color);
  border-radius: 4px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 5px 10px;
  width: fit-content;
}

.btn:hover {
  color: var(--btn-color);
  background: var(--hover-btn-color);
}

h2 {
  font-size: 25px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #272142;
}

.btn-outline {
  border: 1px solid var(--btn-color);
  background: var(--hover-btn-color);
  color: var(--btn-color);
  border-radius: 4px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 5px 10px;
  display: block;
  margin: auto;
}

.btn-outline:hover {
  color: var(--hover-btn-color);
  background: var(--btn-color);
}

/*About-me page*/

.content {
  padding: 180px 20px;
}

.content h2 {
  font-size: 18px;
  font-weight: 400;
  color: var(--title-color);
}

.content h1 {
  font-size: 24px;
  font-weight: 400;
  color: var(--title-color);
}

.content h3 {
  font-size: 15px;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
}

.content p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #272142;
}

/*media*/

@media (max-width: 600px) {
  .intro {
    padding: 80px 20px;
  }

  .intro h1 {
    font-size: 60px;
  }

  .intro-projects h2 {
    font-size: 28px;
    text-align: center;
  }

  .intro .intro-projects p {
    text-align: center;
  }

  .content h1,
  h2,
  p {
    text-align: center;
  }

  .content a {
    display: block;
    margin: 0 auto;
  }
}
