/*
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
} */

:root {
  --btn-color: #6c63ff;
  --hover-btn-color: #f9f7fe;
  --p-basic-color: #272142;
  --title-color: black;
  --secondary-background-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
}

.intro {
  background: var(--secondary-background-color);
  text-align: center;
  padding: 180px 20px;
}

.intro h1 {
  font-weight: 700;
  font-size: 72px;
  color: var(--title-color);
}

.intro h2 {
  font-weight: 400;
  font-size: 24px;
  color: var(--title-color);
}

.intro p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #272142;
}

.btn {
  color: #fff;
  background: var(--btn-color);
  border-radius: 4px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 5px 10px;
  width: fit-content;
}

.btn:hover {
  color: var(--btn-color);
  background: var(--hover-btn-color);
}

h2 {
  font-size: 28px;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

.btn-outline {
  border: 1px solid var(--btn-color);
  background: var(--hover-btn-color);
  color: var(--btn-color);
  border-radius: 4px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 5px 10px;
  display: block;
  margin: auto;
}

.btn-outline:hover {
  color: var(--hover-btn-color);
  background: var(--btn-color);
}

/*About-me page*/

.about {
  padding: 180px 20px;
}

.about h4 {
  font-size: 18px;
  font-weight: 400;
  color: var(--title-color);
}

.about h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--title-color);
}

@media (max-width: 600px) {
  .intro {
    padding: 80px 20px;
  }

  .intro h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
